{% block stylesheets %}
	<link rel="stylesheet" href="assets/styles/css/style-navbar.css">
{% endblock %}


<nav>
	<img src="{{asset('assets/img/logo.jpg')}}" alt="logo">
	<ul>
		<li>
			<i class="fas fa-user"></i>
			<a href="#">Près de chez vous</a>
		</li>


		<li>
			<i class="fas fa-map-marker-alt"></i>
			<a href="#">Se connecteer</a>
		</li>

		<li>
			<i class="fas fa-search"></i>
			<a href="#">Rechercher</a>
		</li>

		<li>
			<i class="far fa-plus-square"></i>
			<a href="#">Déposer une annonce</a>
		</li>


	</ul>
</nav>
