<form action="{{path('home_chercher')}}" method="POST" style="display: inline;">
    <input type="search" name="query" id="" placeholder="Recherchez un jeu ...">
    <input type="submit" value="valider" style="display: none;">
</form>