{% extends 'base.html.twig' %}

{% block title %}
Ajouter une annonce | vat-gaming
{% endblock %}

{% block body %}
<div id="titre" class="DM">
    <h2>Ajouter une annonce</h2>
    {{form(form, {"attr": {"novalidate":"novalidate"}})}}
</div>
{% endblock %}