{% extends "base.html.twig" %}

{% block title %}
A propos
| vat-gaming
{% endblock %}

{% block body %}
<div id="titre">
    <h2>A propos de vat-gaming</h2>
</div>
<div style="margin: 0 10px">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus ab quisquam accusantium assumenda, ipsa enim rerum obcaecati velit ut corporis blanditiis? Nemo necessitatibus voluptatem recusandae explicabo, magnam nulla commodi cupiditate consequatur facere minus id ab quia non eligendi pariatur sed a fuga quidem, optio numquam fugiat? Facilis libero explicabo tenetur tempora doloremque illum, officiis sed pariatur similique aspernatur enim vel eos voluptatibus quod incidunt? Ab repellat delectus eaque libero fugit vitae facilis omnis sunt, consequatur modi aut sequi! Rem sint nostrum, voluptate illum nemo, praesentium exercitationem ad consequuntur accusantium magni at quisquam. Nostrum odio excepturi saepe quia asperiores natus ad, omnis aut enim alias sequi. Laudantium saepe quis quam voluptates reprehenderit labore eius error delectus corrupti magni odit iste, non minima aliquam consequatur dolorem tempora corporis quod quibusdam sint porro! Atque earum, cumque illum magnam maxime voluptate illo voluptas! Dicta totam quidem perspiciatis repellendus ea, quae praesentium doloribus maiores impedit maxime accusamus voluptates eaque nihil recusandae, sit dolorum officiis odit nisi adipisci numquam! Fugit animi dolorum ad facilis, similique voluptatum placeat praesentium neque ex atque temporibus obcaecati officiis, repudiandae, reprehenderit sed. Nostrum nulla laborum vitae cupiditate! Fugit, minima saepe quod corporis sapiente alias consequatur vero fuga corrupti repudiandae aliquam exercitationem, quis laudantium sint voluptatem nulla tempore incidunt eum quasi nihil! Porro, sint quibusdam ratione ad iure, sunt incidunt nobis magnam amet harum nulla doloribus sed repellendus sit recusandae consectetur aperiam obcaecati repudiandae adipisci iusto cum ullam. Quod possimus reiciendis ipsa, deserunt expedita ipsum quasi repudiandae quo enim unde voluptatibus corporis id earum qui assumenda quidem ducimus quaerat exercitationem quia nemo perferendis ab? Tempora dignissimos nisi voluptas quaerat velit vitae, architecto illo animi iusto esse! Deleniti labore accusantium rem veniam, distinctio illo cum nihil quasi reiciendis voluptate ipsam velit, doloremque blanditiis sed nesciunt beatae impedit omnis! Qui explicabo ipsum ut.
</div><br>
{% endblock %}