<nav id="footer" class="DM">
	<ul>
		<li>
			<a href="{{path('annonce_creer')}}">Déposez une annonce</a>
		</li>
		<li>
			<a href="{{path('security_login')}}">Se connecter</a>
		</li>
		<li>
			<a href="{{path('security_register')}}">S'inscrire</a>
		</li>
	</ul>
	<ul>
		<li><a href="{{ path('contact')}} ">Contact</a></li>
		<li><a href="#">Conditions d'utilisation</a></li>
		<li><a href="#">A propos de vat-gaming</a></li>
	</ul>
</nav>
<div id="div-copyright" >
	<p>&copy; 2021 vat-gaming | Tous droits reservés <button id="btn-darkmode">Dark Mode</button></p>
		

</div>
