<nav id="footer">
	<ul>
		<li>
			<a href="{{path('annonce_creer')}}">Déposez une annonce</a>
		</li>
		<li>
			<a href="#">Se connecter</a>
		</li>
		<li>
			<a href="#">S'inscrire</a>
		</li>
	</ul>
	<ul>
		<li><a href="#">Plan du site</a></li>
		<li><a href="#">Conditions d'utilisation</a></li>
		<li><a href="#">A propos de vat-gaming</a></li>
	</ul>
</nav>
<div id="div-copyright">
	<p>&copy; 2021 vat-gaming | Tous droits reservés</p>
</div>
