@import "style.scss";

#navbar {
  position: relative;
  display: flex;
  background-color: $color-primary;
  height: 150px;
  border-bottom: 1px solid #333;
  img {
    width: 100px;
    height: 100px;
  }
  ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  a,
  i {
    font-size: 2rem;
    color: white;
  }
  i {
    padding-right: 1rem;
  }
  input {
    height: 2rem;
    vertical-align: top;
    width: 250px;
  }
  .fas.fa-bars {
    display: none;
  }
}
#navbar-categories {
  border-bottom: 1px solid $color-primary;
  background-color: #fff;
  a,
  i {
    font-size: 1.5rem;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25px;
  }
}

@media all and (max-width: 1500px) {
  #navbar {
    height: 75px;
    a,
    i {
      font-size: 1rem;
    }
    i {
      padding-right: 0.5rem;
    }
    input {
      width: 125px;
      height: 1rem;
    }
    img {
      height: 50px;
      width: 50px;
    }
  }
  #navbar-categories {
    a,
    i {
      font-size: 1.25rem;
    }
    ul {
      height: 12.5px;
    }
  }
}

@media all and (max-width: 900px) {
  #navbar-categories {
    display: none;
  }
  #navbar {
    li:nth-child(n + 2) {
      display: none;
    }
    .fas.fa-bars {
      font-size: 2rem;
      display: initial;
      position: absolute;
      vertical-align: middle;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

#navbar-burger {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  background-color: $color-primary;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  input {
    height: 1.5rem;
  }
  i {
    width: 25px;
  }
  .fas.fa-scroll {
    font-size: 1.2rem;
  }
  #navbar-categories-burger {
    display: flex;
    flex-direction: column;
  }
  .fas.fa-times {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.nav-ouverte {
  transform: translateY(-100%);
}
