<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="shortcut icon" href="#">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
			<link rel="stylesheet" href="{{asset('assets/styles/css/style.css')}}">
			<link rel="stylesheet" href="{{asset('assets/styles/css/style-navbar.css')}}">
			<link rel="stylesheet" href="{{asset('assets/styles/css/style-home-annonces.css')}}">
		{% endblock %}
	</head>


	{% include 'navbar.html.twig' %}

	<body>
		{% block body %}{% endblock %}
	</body>
	{% block javascripts %}
		<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
		<script src="{{asset('assets/js/main.js')}}"></script>
	{% endblock %}

</html>
