{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
	<div class="container">
		{{ form(form, {'action': path('contact')}) }}
		</div>
	{% endblock %}
