{% extends "base.html.twig" %}
{% block stylesheets %}
	{{parent()}}
{% endblock %}


{% block title %}
	Accueil | vat-gaming
{% endblock %}

{% block body %}
	<h1>Accueil</h1>
	{% for j in lastJeux %}
		<p>{{j.nom}}</p>
		<img src="{{j.photo}}" alt="">

	{% endfor %}


{% endblock %}
